<hr>
<p>primer-componente works!</p>
<h3>Uso de Variables y condiciones con Angular dentro del HTML</h3>

<button (click)="AumentarEdad()">[ sumar + ]</button>
<button (click)="DisminuirEdad()">[ restar - ]</button>

<div>Tú edad es: {{edad}}</div>
<!-- Validación de condiciones, if de variable de componente padre -->
    <div 
        *ngIf="edad >= 18"
        [style.background]="'lightgreen'"
    >
      <div >Bienvenido, eres Mayor de Edad</div>
    </div>
    <div 
        *ngIf="edad < 18"
        [style.background]="'red'"
    >
      <div >Retirate!!!, eres Menor de Edad</div>
    </div>
